{% extends 'base.html' %} {% load static %} {% block content %}

<div class="boardpage">
    <div class="boardpagetitle">방명록</div>
    <div class="writebtn">
        <a class="btn" href="{%url 'main:newpostpage' %}">글 작성</a>
    </div>

    <div class="boardtable">
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td
                        onclick="location.href='{% url 'main:postdetailpage' post.id %}'"
                    >
                        {{post.id}}
                    </td>
                    <td
                        onclick="location.href='{% url 'main:postdetailpage' post.id %}'"
                    >
                        {{post.title}}
                    </td>
                    <td
                        onclick="location.href='{% url 'main:postdetailpage' post.id %}'"
                    >
                        {{post.writer}}
                    </td>
                    <td
                        onclick="location.href='{% url 'main:postdetailpage' post.id %}'"
                    >
                        {{post.pub_date}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>{% endblock %}</div>
</div>
