{% extends 'base.html' %}
{% load static %}
{% block content %}

<form action="{%url 'create'%}" method="POST">
    {%csrf_token%}
    <p>제목 : <input type="text" name="title"></p>
    <p>작성자 : <input type="text" name="writer"></p>
    <p>소감 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <p>보완할 점 : <textarea type="text" name="feedback" cols="30" rows="10"></textarea></p>
    <p>좋은 점 : <textarea type="text" name="good_point" cols="30" rows="10"></textarea></p>
    <button type="submit">작성</button>
</form>

{% endblock %}