{% extends 'base.html' %} {% load static %} {% block content %}

<div class="postdetail">
    <div class="posttitle">{{post.title}}</div>
    <div class="postcontent">
        <div class="postcontentinfo">
            <b>작성자 </b>{{post.writer}}<br />
            <b>날짜 </b>{{post.pub_date}}
        </div>
        <hr />
        {% if post.image %}
        <p><img class="postimage" src="{{post.image.url}}" alt="사진" /></p>
        {% endif %}
        <div class="postcontenttitle">소감</div>
        <div class="postcontentcontent">{{post.body}}</div>
        <div class="postcontenttitle">보완할 점</div>
        <div class="postcontentcontent">{{post.feedback}}</div>
        <div class="postcontenttitle">좋은 점</div>
        <div class="postcontentcontent">{{post.good_point}}</div>
    </div>
    {% if post.writer == user %}
    <div class="buttons">
        <a class="btn" href="{% url 'main:edit' post.id %}">글 수정</a>
        <a class="btn" href="{% url 'main:delete' post.id %}">글 삭제</a>
    </div>
    {% endif %}
    <div class="comment_container">
        <div class="buttons">
            <form method="post" href="{% url 'main:postdetailpage' post.id %}">
                {% csrf_token %}
                <input class="inputcontent" type="text" name="content" />
                <button class="submit" type="submit">작성</button>
            </form>
        </div>
    </div>
    <div class="comment_list">
        {% for comment in comments %}
        <hr>
        <div class="commentcontent">{{comment.content}}</div>
        <div class="commentdetail">{{comment.writer}}  {{comment.pub_date}}</div>
            {% if comment.writer == user %}
            <a class="btn" href="{% url 'main:commentdelete' post.id comment.id %}">삭제</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
