{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="repo" style="text-align: center;">
  <div class="repotitle">
    REPOSITORIES
  </div>
  <div class="repocontainer">
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        likelion_11th_task_project<br>
      </span>
      <span class="itemdescription">
        동국대학교 멋쟁이사자처럼 11기 개인 프로젝트<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        11th_git_session-1<br>
      </span>
      <span class="itemdescription">
        동국대학교 멋쟁이사자처럼 11기 git session<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        11th_git_session<br>
      </span>
      <span class="itemdescription">
        동국대학교 멋쟁이사자처럼 11기 2주차 Git Session<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        git_exercise<br>
      </span>
      <span class="itemdescription">
        동국대학교 멋쟁이사자처럼 11기 git exercise<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        jihyunniiii<br>
      </span>
      <span class="itemdescription">
        <br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        Kream_Clone_App<br>
      </span>
      <span class="itemdescription">
        👟 2023 KREAM Clone Project<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        DS_Project<br>
      </span>
      <span class="itemdescription">
        🐘 2022 기업사회맞춤형캡스톤디자인1 - 동국대학교 메타버스 동심<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        Android_Study<br>
      </span>
      <span class="itemdescription">
        <br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        MobileSoftwareProject<br>
      </span>
      <span class="itemdescription">
        🥗 2022 모바일소프트웨어 - 식단 관리 어플리케이션 다이어트!<br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        Android<br>
      </span>
      <span class="itemdescription">
        <br>
      </span>
    </span>
    <span class="item">
      <span class="itemimg">
        🤍<br>
      </span>
      <span class="itemtitle">
        BOJ<br>
      </span>
      <span class="itemdescription">
        <br>
      </span>
    </span>
  </div>
</div>

{% endblock %}